/* ============================= 
0. CSS Variables  #d8e6e6
============================= */
:root {
  --colorElectricBlue: #0047ab;
  --colorElectricBlue90: rgb(0, 71, 171, 0.8);
  --colormustard: #c6ab20;
  --bgcolor:#607d8b;
  --bgcolordark: #313138;
  --bgcolorlight: #edc9c9;
  --colorTealLighter: #d8e6e6;
  --colorTealLight: #99cccc;
  --colorTealDark: #398098;
  --colorOrange: rgb(216, 95, 38);
  --colorOrange70: rgb(216, 95, 38, 0.7);
  --colorRed: #cd071e;
  --color1b: #e8b97c;
  --color1c: #516e24;
  --color1d: #55a09f;
  --color1e: #97c9c9;
  --color1f: #62523a; 
  --color1g: #f8faf9;
  --color1: #fcbc3c;
  --color2: #f4f491;
  --colorGreen: #548434;
  --color3: #548434;
  --color4: #a45c84;
  --color5: #c4be81;
  --color6: #54402c;
  --color7: #023F92;
  --color8: #5318a0;
  --color9: #26b89d;
  --color10: #ff9933;
  --color11: #ffbf80;
  --fontvintage: #e0eae4;
  --proj-nonselect: #5318a0;
}

/* ============================= 
1. Global styles 
============================= */

html,
body {
  width: 100%;
  height: 100%;
}

/* body {
  font-family: 'Muli', 'Helvetica', 'Arial', 'sans-serif';
} */

a {
  color: #fdcc52;
  transition: all .35s;
}

a:hover, a:focus {
  color: #fcbd20;
  cursor: grab;
  text-decoration: none;
}

hr {
  max-width: 100px;
  margin: 25px auto 0;
  border-width: 1px;
  border-color: rgba(34, 34, 34, 0.1);
}

hr.light {
  border-color: white;
}

.headername h1 {
  z-index: 999;
  font-size: 5rem;
  position: relative;
  top: 150px;
  left: 400px;
  text-align: left;
  color: var(--color7);
  text-shadow: 2px 2px var(--color1f);

}

.headername p {
  z-index: 999;
  font-size: 2rem;
  position: relative;
  top: 120px;
  left: 400px;
  text-align: left;
  color: var(--color7);
}

h2,
h3,
h4,
h5,
h6 {
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
}

p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}

section {
  padding: 100px 0;
}

section h2 {
  font-size: 50px;
}








/* ============================= 
2. Hero Header and Nav 
============================= */

/* 1.2 Navigation ============= */

#mainNav {
  border-color: rgba(34, 34, 34, 0.05);
  background-color:#64a19d!important;
  opacity: 90%;
  transition: all .35s;
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
} 

#mainNav .navbar-brand {
  color: #fdcc52;
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
}

#mainNav .navbar-brand:hover, #mainNav .navbar-brand:focus {
  color: #fcbd20;
}

#mainNav .navbar-toggler {
  font-size: 12px;
  padding: 8px 10px;
  color: #222222;
}

#mainNav .navbar-nav > li > a {
  font-size: 11px;
  font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
  letter-spacing: 2px;
  text-transform: uppercase;
}

#mainNav .navbar-nav > li > a.active {
  color: #fdcc52 !important;
  background-color: transparent;
}

#mainNav .navbar-nav > li > a.active:hover {
  background-color: transparent;
}

#mainNav .navbar-nav > li > a,
#mainNav .navbar-nav > li > a:focus {
  color: #222222;
}

#mainNav .navbar-nav > li > a:hover,
#mainNav .navbar-nav > li > a:focus:hover {
  color: #fdcc52;
}

/* 2.2 Hero header ============= */
header.masthead {
  position: relative;
  width: 100%;
  padding-top: 70px; /* 150px */
  padding-bottom: 5px;
  color: var(--fontvintage);
  background-color: var(--colormustard);
}

header.masthead .header-content {
  max-width: 500px;
  margin-bottom: 5px;
  /* text-align: center; */
}

header.masthead .header-content h1 {
  font-size: 30px;
}

header.masthead .device-container {
  max-width: 325px;
  margin-right: auto;
  margin-left: auto;
}

header.masthead .device-container .screen img {
  border-radius: 3px;
}


/* 2.3 Gaiwan and animations ============= */
/* CSS for gaiwan & animations  */
.container_gaiwan {
  position: relative;
  top: 10vh;
  max-width: 40vw;
  max-height: 40vh;
}

/* ##Gaiwan (A) saucer  */
.container_gaiwan .saucer {
  position: relative;
  bottom: -200px;
  right: -230px;
  transform: translateX(-50%);
  width: 200px;
  height: 75px;
  background: linear-gradient(to right, #f9f9f9, #e7e7e7);
  border-radius: 50%;
  box-shadow: 0 35px 35px rgba(0, 0, 0, 0.2);
}

.container_gaiwan .saucer::before {
  content: '';
  position: absolute;
  top: 5px;
  right: 5px;
  bottom: 5px;
  left: 5px;
  border-radius: 50%;
  background: linear-gradient(to left, #f9f9f9, #e7e7e7);
  z-index: 2;
}

.container_gaiwan .saucer::after {
  content: '';
  position: absolute;
  top: 15px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  background: radial-gradient(rgba(0, 0, 0, 0.2) 25%, transparent, transparent);
  border-radius: 50%;
  z-index: 2;
}

/* ##Gaiwan (B) gaiwan with lid and animation  */


.container_gaiwan .gaiwan {
  position: relative;
  top: 60px;
  right: -160px;
  width: 140px;
  height: 115px;
  background: linear-gradient(to right, #f9f9f9, #d9d9d9);
  border-bottom-left-radius: 85%;
  border-bottom-right-radius: 85%;
}

/* ##Gaiwan (B.1) lid, lidknob and animation  */

.container_gaiwan .gaiwan .gaiwanLidSteamTea {
  position: absolute;
  top: -30px;
  left: 0;
  width: 100%;
  height: 60px;
  background: linear-gradient(to right, #f9f9f9, #d9d9d9);
  border-radius: 50%;
}

.moveLid {
  animation-name: animateLid;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  position: relative;
  bottom: 40%;
  left: 40%;
}
@keyframes animateLid{
  50%{
  transform: translateY(50px); /*50px*/
}
}


/* ###Gaiwan (B.1.1) lid knob  */

.container_gaiwan .gaiwanlidknob {
  position: absolute;
  top: -80px;
  right: 65px;
  transform: translateX(-40%) rotate(10deg);
  width: 35px;
  height: 25px;
  background: linear-gradient(to left, #f9f9f9, #e7e7e7);
  border-radius: 41%;
  box-shadow: 0 -35px -35px rgba(0, 0, 0, 0.2);
}

.container_gaiwan .gaiwanlidknob::before {
  content: '';
  position: absolute;
  top: 2px;
  right: 0.5px;
  bottom: 3px;
  left: 2.5px;
  transform: skewY(0.5deg);
  border-radius: 41%;
  background: linear-gradient(to right, #f9f9f9, #d9d0d0);
}

/* ###Gaiwan (B.1.2) lid   */



.container_gaiwan .lid {
  position: absolute;
  top: -65px;
  right: -40px;
  transform: translateX(-50%) rotate(10deg);
  width: 140px;
  height: 45px;
  background: linear-gradient(to right, #f9f9f9, #d9d0d0);
  border-radius: 50%;
  box-shadow: 0 35px 35px rgba(0, 0, 0, 0.2);
}

.container_gaiwan .lid::before {
  content: '';
  position: absolute;
  top: 7px;
  right: 3px;
  bottom: 3px;
  left: 6px;
  transform: skewY(0.5deg);
  border-radius: 50%;
  background: linear-gradient(to left, #f9f9f9, #d9d0d0);
}

.container_gaiwan .lid::after {
  content: '';
  position: absolute;
  top: 15px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  background: linear-gradient(to left, #f9f9f9, #d9d0d0);
  border-radius: 100%;
}


/* ##Gaiwan (B.2) steam from gaiwan */

.container_gaiwan .gaiwan .gaiwanLidSteamTea .steam {
  position: relative;
  display: flex;
  z-index: 1;
  padding: 0 20px;
}

.container_gaiwan .gaiwan .gaiwanLidSteamTea .gaiwanTeaStream .steam span {
  position: relative;
  bottom: 50px;
  display: block;
  margin: 0 2px 50px;
  min-width: 8px;
  height: 120px;
  background: #fff;
  border-radius: 50%;
  animation: animateSteam 5s linear infinite;
  opacity: 0;
  filter: blur(8px);
  animation-delay: calc(var(--x) * -0.5s);
}

/* .container_gaiwan .gaiwan .gaiwanLid .gaiwanTeaStream .steam span {
  display: none;
} */

@keyframes animateSteam {
  0% {
      transform: translateY(0) scaleX(1);
      opacity: 0;
  }
  15% {
      opacity: 1;
  }
  50% {
      transform: translateY(-150px) scaleX(5);
  }
  95% {
      opacity: 0;
  }
  100% {
      transform: translateY(-300px) scaleX(10);
  }
}


/* ##Gaiwan (B.3) tea liquid inside gaiwan */

.container_gaiwan .gaiwan .gaiwanLidSteamTea .gaiwanopening {
  position: absolute;
  top: 5px;
  left: 10px;
  width: calc(100% - 20px);
  height: 50px;
  background: linear-gradient(to left, #f9f9f9, #d9d9d9);
  border-radius: 50%;
  box-sizing: border-box;
  overflow: hidden;
}

.container_gaiwan .gaiwan .gaiwanLidSteamTea .gaiwanopening .tea {
  position: absolute;
  top: 20px;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgb(228, 239, 129), #8dae54);
  border-radius: 50%;
}
/* ##Gaiwan (C) pattern gaiwan tea cup  */

.gaiwanPattern {
  position: relative;
  top: 130px;
  right: 170px;
  width: 50px;
  height: 50px;
  z-index: 10;
  transform: skew(10deg, -8deg);
}

.patternMoon {
height: 30px; 
width: 30px; 
border-radius: 50%;
position: relative;
background-color: var(--color10);
top: -70px; 
right: -200px; 
} 

.patternStar {
height: 15px; 
width: 15px; 
border-radius: 50%;
position: relative;
background-color: var(--color10);
top: -10px; 
right: -80px; 
} 

.cloud1 {
background-color: var(--color11);
height: 10px; 
width: 70px;
border-radius: 10px; 
position: relative;
top: 25px; 
left: 25px; 
}

.cloud2 {
background-color: var(--color11);
height: 10px; 
width: 60px; 
border-radius: 6.5px; 
position: relative;
top: 30px; 
left: 10px; 
}

.cloud3 {
background-color: rgba(204, 102, 0,0.3);
height: 15px;
width: 60px;
border-radius: 11px;
position: relative;
top: -10px;
left: 20px;
}

.cloud4 {
background-color: rgba(204, 102, 0,0.3);
height: 15px; 
width: 40px; 
border-radius: 7.5px; 
position: relative;
top: 5px; 
left: 60px; 
}


.cloud5 {
background-color: rgba(255,255,255,0.4);
height: 12px;
width: 30px;
border-radius: 7.5px;
position: relative;
top: -30px;
left: 40px;
}


/* 2.4 tea pot ============= */


.container_teapot {
  position: relative;
  top: 10vh;
  max-width: 40vw;
  max-height: 40vh;
}

.teapotbrown {
position: relative;
bottom: -50px;
left: 70px;
width: 200px;
height: 150px;
background-color: #38200a;
border-top-right-radius: 50%;
border-top-left-radius: 50%;
border-bottom-right-radius: 40%;
border-bottom-left-radius: 40%;
z-index: 2;
}

.lidknobround {
position: relative;
bottom: -90px;
left: 145px;
background: wheat;
width: 50px;
height: 16px;
border-radius: 50%;
z-index: 4;
}

.lidknob {
position: relative;
bottom: -60px;
left: 160px;
width: 20px;
height: 20px;
background: black;
border-radius: 5px;
z-index: 5;
}

.potreflection {
position: relative;
bottom: -150px; /*19%*/
left: 90px;
border: 10px solid wheat;
border-color: transparent transparent transparent white;
height: 40px;
width: 40px;
border-radius: 60px 0 0 60px;
transform: rotate(-320deg);
z-index: 6;
}

.handle {
position: relative;
bottom: 250px;
left: 95px;
width: 150px;
height: 150px;
border: 10px solid;
border-color: rgb(102, 97, 97);
border-radius: 35px;
z-index: 1;
}

.handlehold {
position: relative;
bottom: 410px;
left: 130px;
background: black;
width: 75px;
height: 30px;
border-radius: 10px;
z-index: 2;
}

.spout {
position: relative;
bottom: 80px;
right: -250px;
background: #38200a;
height: 70px;
width: 40px;
transform: rotate(57deg);
border-top-left-radius: 40px;
border-top-right-radius: 10px;
z-index: 2;
}

.spoutopening {
position: relative;
bottom: 131px;
right: -273px;
transform: rotate(30deg);
background: wheat;
width: 30px;
height: 12px;
border-radius: 50%;
z-index: 3;
}